<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true" />
        <setting name="jdbcTypeForNull" value="VARCHAR"/>
    </settings>

    <typeAliases>
        <typeAlias alias="EatsslimOrderHeaderDto" type="kr.co.pulmuone.batch.esl.domain.model.order.order.dto.EatsslimOrderHeaderDto" />
    </typeAliases>

    <mappers>
        <mapper resource="mapper/order/slaveEsl/eslOrderBatchMapper.xml"/>
    </mappers>
</configuration>