<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true" />
        <setting name="jdbcTypeForNull" value="VARCHAR"/>
    </settings>

    <typeAliases>
        <typeAlias alias="BatchJob" type="kr.co.pulmuone.batch.eon.domain.model.system.BatchJob" />
        <typeAlias alias="BatchJobExecution" type="kr.co.pulmuone.batch.eon.domain.model.system.BatchJobExecution" />
        <typeAlias alias="SampleMasterVo" type="kr.co.pulmuone.batch.eon.domain.model.sample.SampleMasterVo" />
        <typeAlias alias="EmailBosVo" type="kr.co.pulmuone.batch.eon.domain.model.email.eon.dto.vo.EmailBosVo" />
        <typeAlias alias="EmailEonVo" type="kr.co.pulmuone.batch.eon.domain.model.email.eon.dto.vo.EmailEonVo" />
    </typeAliases>

    <mappers>
        <mapper resource="mapper/sample/SampleMasterMapper.xml"/>
        <mapper resource="mapper/system/BatchJob.xml"/>
        <mapper resource="mapper/system/BatchJobExecution.xml"/>
        <mapper resource="mapper/send/BatchSendTemplate.xml"/>
        <mapper resource="mapper/email/master/EmailBosMapper.xml"/>
    </mappers>
</configuration>