/* 2021.01.08 프로모션 관리> 이벤트
   작성자 : 김승우
*/

.eventMgm {
    max-width: 1920px;
}

.eventMgm input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    opacity: 0.7;
}

.eventMgm input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    opacity: 0.7;
}

.eventMgm input::-ms-input-placeholder { /* Microsoft Edge */
    opacity: 0.7;
}

.eventMgm .tableTitle {
    position: relative;
    margin: 0 0 10px 0;
}

.eventMgm .tableTitle p {
    display: inline-block;
    margin: 0 10px 0 0;
    font-size: 16px;
    font-weight: bold;
}

.eventMgm .tableTitle button {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    padding: 0 10px;
}

.eventMgm__content form > div:not(:last-of-type) {
    margin: 0 0 10px 0;
}

.eventMgm__benefits .grid-wrapper-btns {
    display: flex;
}

.eventMgm__benefits .radios-wrapper {
    flex-shrink: 0;
    margin: 0 10px 0 0;
}

.eventMgm .benefitItem,
.eventMgm [data-parent] {
    display: none;
}

.eventMgm .benefitItem.show,
.eventMgm [data-parent].show {
    display: flex;
}

.eventMgm .benefitItem.show {
    flex-grow: 1;
    align-items: center;
}

.benefitItem.show  .comm-input,
.benefitItem.show .fb__custom__select {
    flex-grow: 1;
}

.eventMgm .benefitItem button {
    height: 32px;
    padding: 0 15px;
}

.commentTp-wrapper {
    margin: 0 0 10px 0;
}

.commentTp-wrapper::after {
    display: block;
    clear: both;
    content: '';
}

.commentTp-wrapper .fb__custom__radio {
    float: left;
    margin: 0 30px 0 0;
}

.commentTp-wrapper .fb__custom__radio label {
    margin: 0;
    height: 32px;
    line-height: 32px;
}

.commentTp-wrapper .fb__custom__radio label:not(:last-child) {
    margin: 0 10px 0 0;
}

.commentTp__addInput {
    float: left;
    display: block;
}

.commentTp__addInput input {
    width: 300px;
}

.eventMgm__commentTpListItem:not(:last-child) {
    margin: 0 0 5px 0;
}

.eventMgm__commentTpListItem p {
    display: inline-block;
    margin: 0 10px 0 0;
}

.eventMgm__commentTpListItem button {
    padding: 0 5px;
}

.userGroupList .eventMgm__commentTpListItem:not(:last-child) {
    margin: 0 10px 0 0;
}

.eventMgm .register-info,
.eventMgm .updated-info {
    font-weight: bold;
    color: #2f9e44;
    text-decoration: underline;
}

.eventMgm .surveyItem {
    margin: 0 0 5px 0;
}

.eventMgm .surveyItem:last-child {
    margin: 0;
}

.eventMgm .surveyItem::after,
.eventMgm .surveyItem .fileUpload__inputWrapper:after,
.eventMgm .surveyItem .fileUpload__imgWrapper:after {
    display: block;
    clear: both;
    content: '';
}

/* 2021.02.24 설문 보기 이미지 영역 높이 수정 */
.eventMgm .surveyItem .fileUpload__img {
  float: left;
  height:100px;
  margin-right: 10px;
}

.eventMgm .surveyItem__btn {
    height: 32px;
    margin: 0 10px 0 0;
    padding: 0 20px;
    line-height: 32px;
    text-align: center;
}

.eventMgm .surveyItem__input {
    height: 32px;
    margin: 0 10px 0 0;
}

.fileUpload-container--horizontal.stampDefault .fileUpload__img {
    height: 80px;
    width: 80px;
}

.fileUpload-container--horizontal.stampDefault .fileUpload__img img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.eventMgm .stampRow {
    display: block;
}

.eventMgm .stampRow:not(:last-child) {
    margin: 0 0 10px 0;
}

.eventMgm .stampRow--2col::after {
    display: block;
    clear: both;
    content: '';
}

.eventMgm .stampRow--2col .stampRow__cell {
    float: left;
    width: 50%;
}

.eventMgm .stampRow__cell {
    padding: 0 10px;
    vertical-align: top;
}

.eventMgm .stampRow__cell::after {
    display: block;
    clear: both;
    content: '';
}

.eventMgm .stampRow__innerCell {
    display: block;
    float: left;
    vertical-align: top;
}

.eventMgm .stampRow__innerCell.left {
    width: 130px;
}

.eventMgm .stampRow__innerCell.right {
    width: calc(100% - 130px);
    padding-left: 10px;
}

/* 참여 정보 상세  2020.01.14 */
.eventJoin .datatable.v-type {
    margin: 0;
}

.eventJoin .datatable.eventInfo td,
.eventJoin .datatable.eventInfo th {
    line-height: 32px;
}

.eventJoin__content form > div:not(:last-child) {
    margin: 0 0 20px 0;
}

.eventJoin__content .labelTabs {
    margin: 0;
}

.eventJoin .tableTitle {
    margin: 0 0 15px 0;
}

.eventJoin .labelTabs__list {
    display: flex;
}

.eventJoin .labelTabs__list__item {
    width: 200px;
}

.eventJoin .labelTabs__list__label {
    display: block;
}

.eventJoin .labelTabs__list__label .labelTabs__list__name {
    display: block;
    padding: 10px;
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    border-bottom: none;
    font-size: 16px;
    text-align: center;
}

.eventJoin .labelTabs__list__iteml:first-child .labelTabs__list__name {
    border-right-width: 0;
}

.eventJoin .labelTabs__list__label input:checked + .labelTabs__list__name {
    font-weight: bold;
    background-color: #ecf6e3;
}

.eventJoin .labelTabs input {
    position: absolute;
    visibility: hidden;
}

.eventJoin .grid-sect {
    padding: 10px;
    border: 1px solid #ddd;
}

.eventJoin .grid-sect .fb__custom__checkbox label {
    line-height: 32px;
}

.surveyList__survey {
    border-bottom: 1px solid #ddd;
}

.survey__imageList {
    padding-left: 20px;
}

.survey__imageList .survey__image:not(:last-child) {
    margin-bottom: 10px;
}

.survey__image .fileUpload__imgWrapper {
    display: block;
    margin: 0;
    font-size: 0;
}

.survey__image .fileUpload__img img {
    position: static;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    object-fit: fill;
    margin: 0;
    display: block;
}

.survey__image .fileUpload__removeBtn {
    border: 1px solid #ddd;
    background-color: #f7f7f7;
    width: 29px;
    height: 29px;
    padding: 0 5px;
    z-index: 3;
}

.eventJoin .surveyList {
    padding: 10px;
    border: 1px solid #ddd;
}

.surveyList__item {
    display: block;
    margin: 0 0 10px 0;
}

.survey__title {
    margin: 0 0 10px 0;
    padding: 0 0 10px 0;
    font-size: 16px;
    border-bottom: 1px solid #999;
}

.survey__number {
    margin: 0 15px 0 0;
    font-weight: bold;
}

.survey__question,
.survey__number {
    vertical-align: middle;
}

.survey__optionList {
    padding-left: 15px;
}

.survey__option {
    margin: 0 0 10px 0;
    font-size: 13px;
}

.survey__option__title,
.survey__option__number {
    margin: 0 10px 0 0;
}

.survey__option__number::after {
    content: '.';
}

.survey__option__answer {
    margin: 0 0 5px 0;
}

.survey__option__count,
.survey__option__ratio,
.survey__option__answer .unit {
    font-weight: bold;
}

.surveyJoinList li:not(:last-child) {
	margin: 0 0 10px 0;
}

.stampBenefitDiv .datatable.v-type td {
    padding: 0px;
}

.stampBenefitDiv__addBtn-wrapper {
    display: none;
}

.stampBenefitDiv__contents {
    position: relative;
    padding: 5px;
}

.stampBenefitDiv__inner {
    width: 100%;
}

.stampBenefitDiv__inner--btn-wrapper {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    height: 100%;
    border-left: 1px solid #ddd;
}

.stampBenefitDiv__inner--btn-wrapper button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.stampBenefitDiv__rowCount,
.stampBenefitDiv__countList,
.stampBenefitDiv__imgNotice,
.stampRow.stampRow--mission {
    display: none;
}

.stampBenefitDiv__rowCount--number {
    display: inline;
}

/* 스탬프 '출석'일 경우 */
.stampBenefitDiv--attend .stampBenefitDiv__addBtn-wrapper,
.stampBenefitDiv--attend .stampBenefitDiv__countList {
    display: block;
}

.stampBenefitDiv--attend .stampBenefitDiv__rowCount {
    display: inline;
}

.stampBenefitDiv--attend .stampBenefitDiv__rowCount--number {
    display: none;
}

.stampBenefitDiv--attend .stampBenefitDiv__inner {
    padding-right: 100px;
}

.stampBenefitDiv--attend .stampBenefitDiv__inner--btn-wrapper {
    display: block;
}

.stampBenefitDiv--attend tbody tr:first-child .stampBenefitDiv__inner {
    /*padding: 0;*/
}

.stampBenefitDiv--attend tbody tr:first-child .stampBenefitDiv__inner--btn-wrapper {
    /*display: none;*/
    visibility: hidden;
}

/* 스탬프 '미션'일 경우 */
.stampBenefitDiv--mission .stampBenefitDiv__imgNotice {
    display: block;
}

.stampBenefitDiv--mission .stampRow.stampRow--mission {
    display: block;
}