/*팝업관련*/
#document {
    overflow: auto;
}

.fb__lock {
    overflow: hidden;
}

.fb__mask {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10002;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.fb__mask.show {
    display: block;
}
.fb__layer__cont {
    overflow: hidden !important;
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    margin: auto !important;
    max-width: 80% !important;
    max-height: 90% !important;
    background: #fff;
    text-align: center;
}

.fb__layer__cont .cont__center {
    height: 100%;
    font-size: 20px;
}

.fb__layer__cont .fb__layer__close {
    position: absolute;
    top: 20px;
    right: 20px;
}

.fb__layer__cont .cont__center:after {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    content: "";
}

.k-widget.k-window {
    /* overflow: hidden !important; */
    position: absolute !important;
    max-width: 90% !important;
    min-width : 400px;
    max-height: 90% !important;
    box-sizing: border-box !important;
}

.k-widget.k-window.helpTitle .k-window-title{
    overflow : visible;
}

/*알럿창 크기 레이어 css*/
.k-dialog-titlebar.k-header {
    display: none;
}

.k-window .k-window-content.k-content.k-dialog-content {
    margin: 0;
}

.k-dialog-content:after {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.fb__popup__size--1 {
    width: 400px;
    height: 150px;
}

.fb__popup__size--2 {
    width: 562px;
    height: 752px;
}

.fb__popup__size--3 {
    width: 970px;
    height: 900px;
}

.fb__popup__size--4 {
    width: 1200px;
    height: 1200px;
}

/*스크롤*/
.fb__content--scroll {
    overflow: auto;
    max-width: 100%;
}

/*
    라디오
    가로형 fb__custom__radio
    세로형일경우 vertical 추가
    ex) fb__custom__radio vertical
*/

.fb__custom__checkbox,
.checkbox-wrapper,
.fb__custom__radio,
.radios-wrapper{
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}

.fb__custom__radio.vertical,
.fb__custom__checkbox.vertical {
    padding: 20px;
    text-align: left;
}

.datatable.v-type th .fb__custom__radio.vertical,
.datatable.v-type th .fb__custom__checkbox.vertical{
    padding: 0;
}

.fb__custom__radio.vertical label,
.fb__custom__checkbox.vertical label {
    display: block;
    margin: 0 0 15px 0;
}

.fb__custom__radio.vertical label:last-child,
.fb__custom__checkbox.vertical label:last-child {
    margin-bottom: 0;
}

.fb__custom__radio label,
.fb__custom__checkbox label {
    display: inline-block;
    margin: 5px 20px 5px 0;
    /* font-weight: 600; */
    font-size: 13px;
    padding: 0;
    vertical-align: middle;
}

.fb__custom__radio label:last-child,
.fb__custom__checkbox label:last-child {
    margin: 0;
}

.fb__custom__radio input[type="radio"],
.fb__custom__checkbox input[type="checkbox"] {
    /* display: none; */
    margin-right: 10px;
    margin-left: 0;
}

.fb__custom__radio label span,
.fb__custom__checkbox label span {
    position: relative;
    font-size: 13px;
    vertical-align: middle;
}

.fb__custom__radio span:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 100%;
    min-height: 20px;
    background: url(../images/common/icon-radio-unchecked.png) no-repeat center
        center / 20px 20px;
    /* content: ""; */
}

.fb__custom__radio input[type="radio"]:checked + span:before {
    background-image: url(../images/common/icon-radio-checked.png);
}

/* 체크 된 상태에서 disabled 되었을 경우 */
.fb__custom__radio input[type="radio"]:checked:disabled + span:before {
    background-image: url(../images/common/icon-radio-disabled.png);
}

.fb__custom__radio input[type="radio"]:checked:disabled.disabled + span:before {
    background-image: url(../images/common/icon-radio-chekced.png);
}

.fb__custom__radio input[type="radio"]:disabled + span:before {
    background-image: url(../images/common/icon-radio-unchecked.png);
}

.fb__custom__radio input[type="radio"]:disabled + span,
.fb__custom__checkbox input[type="checkbox"]:disabled + span {
    color : lightgrey;
}

/* 체크박스 checkbox */
.fb__custom__checkbox input[type="checkbox"] {
    /* display: none; */
}

.fb__custom__checkbox label span:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 100%;
    min-height: 20px;
    background: url(../images/common/icon-unchecked.png) no-repeat center center /
        20px 20px;
    /* content: ""; */
}

.fb__custom__checkbox input[type="checkbox"]:checked + span:before {
    background-image: url(../images/common/icon-checked.png);
}

.fb__custom__checkbox input[type="checkbox"]:disabled + span:before {
    background-image: url(../images/common/icon-unchecked.png);
}

.fb__custom__checkbox input[type="checkbox"]:checked:disabled + span:before {
    background-image: url(../images/common/icon-checked-disabled.png);
}

/*
* disabled 처리 되었는데, 체크박스는 활성화 상태로 표시되어야 할 경우, input tag에 disabled 클래스를 추가
*/
.fb__custom__checkbox input[type="checkbox"]:checked:disabled.disabled + span:before {
    background-image: url(../images/common/icon-checked.png);
}

/*셀렉트 박스*/

/*셀렉트 박스*/
.fb__custom__selectWrapper{
    font-size: 0px;
}

.fb__custom__selectWrapper > input,
.fb__custom__selectWrapper > select,
.fb__custom__selectWrapper > span {
    display: inline-block;
    margin-right: 10px;
}

.fb__custom__selectWrapper > input:last-of-type,
.fb__custom__selectWrapper > select:last-of-type,
.fb__custom__selectWrapper > span:last-of-type {
    margin-right: 0px;
}

.fb__custom__select {
    position: relative;
    font-size : 13px;
}

.fb__custom__select.left {
    display: block;
    margin: 0;
}

.fb__custom__select select,
select.fb__custom__select {
    display: inline-block;
    overflow: hidden;
    width: 100%;
    height: 32px;
    margin: 0;
    padding: 0 20px 0 10px;
    border: 1px solid #ddd;
    border-radius: 0;
    color: #666;
    font-weight: normal;
    font-size: 13px;
    text-align: left;
    line-height: 30px;
    vertical-align: middle;
    text-overflow: ellipsis;
}

.fb__custom__select .k-dropdown{
    width : 100%;
}

.font--bold {
    font-weight: 600;
}

.font--lighter {
    font-weight: lighter;
}

.font--larger{
    font-size: larger;
}

.font--smaller {
    font-size: smaller;
}

.fb__space--full {
    display: block;
}

.fb__space--divide {
    display: inline-block;
}

.fb--hide {
    display: none;
}

.fb--show {
    display: block;
}

.block {
    display: block;
}

.inlineBlock {
    display: inline-block;
}

.tableCell {
    display: table-cell;
}

.font0 {
    font-size : 0;
}

.flexBox{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.flexBox.alignCenter {
    align-items: center;
}

.flexBox--inline {
    display : inline-flex;
}

.boxSizing {
    box-sizing: border-box;
}

.padding0{
    padding : 0;
}

.padding5 {
    padding: 5px;
}

.padding8 {
    padding: 8px;
}

.padding10 {
    padding: 10px;
}

.padding20 {
    padding: 20px;
}

.paddingL5 {
    padding-left: 5px;
}

.paddingL10 {
    padding-left: 10px;
}

.paddingL20 {
    padding-left: 20px;
}

.paddingR5 {
    padding-right: 5px;
}

.paddingR10 {
    padding-right: 10px;
}

.paddingR20 {
    padding-right: 20px;
}

.paddingT5 {
    padding-top: 5px;
}

.paddingT10 {
    padding-top: 10px;
}

.paddingT20 {
    padding-top: 20px;
}

.paddingB5 {
    padding-bottom: 5px;
}

.paddingB10 {
    padding-bottom: 10px;
}

.paddingB20 {
    padding-bottom: 20px;
}

.margin0{
    margin : 0;
}

.margin5 {
    margin: 5px;
}

.margin10 {
    margin: 10px;
}

.margin20 {
    margin: 20px;
}

.marginR10 {
    margin-right: 10px;
}

.marginR60 {
    margin-right: 60px;
}

.marginL10 {
    margin-left: 10px;
}

.marginT10 {
    margin-top: 10px;
}

.marginB10 {
    margin-bottom: 10px;
}

.marginR5 {
    margin-right: 5px;
}

.marginL5 {
    margin-left: 5px;
}

.marginT5 {
    margin-top: 5px;
}

.marginB5 {
    margin-bottom: 5px;
}

.marginR20 {
    margin-right: 20px;
}

.marginL20 {
    margin-left: 20px;
}

.marginT20 {
    margin-top: 20px;
}

.marginB20 {
    margin-bottom: 20px;
}

.middle {
    vertical-align: middle;
}

.top {
    vertical-align: top;
}

.textCenter {
    text-align: center;
}

.textRight{
    text-align: right;
}

.textLeft{
    text-align: left;
}

.width100 {
    width: 100%;
}

.width80 {
    width: 80%;
}

.width50 {
    width: 50%;
}

.marginSide10percent {
    margin: 0 10%;
}

.marginSide15percent {
    margin: 0 15%;
}

.marginSide20percent {
    margin: 0 20%;
}

.btn-row2 {
    line-height: 1.2;
}

.borderNone{
    border : none;
}

.floatLeft {
    float: left;
}

.floatRight {
    float: right;
}

.fb__multi__tags {
    display: block;
}

.fb__multi__tags > * {
    display: inline-block;
}

.fb__search-btn {
    display: inline-block;
    width: 32px;
    height: 32px;
    /* background: url("/contents/images/ic/btn_search.gif") no-repeat center
        center; */
    background: url("/contents/images/common/icon-search.png") no-repeat center
    center;
    border: 1px solid #ddd;
    vertical-align: middle;
}

.keepAll {
    word-break: keep-all;
}

.text-ellipsis {
    display: block;
    overflow: hidden;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.datepicker-wrapper input,
.datepicker-wrapper .fb__timepicker{
    display : inline-block;
}

.fb__timepicker-wrapper {
    display: inline-block;
    position: relative;
}

.fb__timepicker{
    overflow: hidden;
    margin: 0;
    padding: 0 5px;
    width : 70px;
    height: 32px;
    border-radius: 0;
    color: #666;
    font-weight: normal;
    font-size: 13px;
    text-align: left;
    line-height: 30px;
    vertical-align: middle;
    text-overflow: ellipsis;
}

.btn-toggle .toggle-icon {
    display: inline-block;
}

.btn-toggle.opened .toggle-icon {
    transform : rotate(180deg);
}

.fb__calendar-wrapper {
    max-width : 1300px;
    margin: 50px auto 0;
}

/* 2020.10.23 달력 ui */
.fb__calendar {
    width : 100%;
}

/* 캘린더 td 셀 */
.fb__calendar td.fc-daygrid-day {
    height : 130px;
}

/* td 셀 날짜 부분 */
.fb__calendar.fc .fc-daygrid-day-top {
    height : 20px;
}

/* td 셀 날짜 부분 내부*/
.fb__calendar .fc-daygrid-day-top .fc-daygrid-day-number{
    width: 100%;
    height: 100%;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.25);
    text-align: center;
    line-height: 20px;
}

/* 이벤트 엘리먼트들 컨테이너 */
.fb__calendar .fc-daygrid-event.fb__calendar__event {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color : inherit;
    border : none;
}

/* 달력 셀 */
.fb__calendar.fc .fc-daygrid-day-frame {
    overflow: hidden;
    min-height: 100%;
    height: 100%;
}

/* 추가 버튼 템플릿 */
.fb__calendar.fc .fc-daygrid-day-frame .button-overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.fb__calendar.fc .fc-daygrid-day-frame .button-overlay > button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -25%);
}

/* 달력 셀 내부 이벤트 감싸는 태그 */
.fb__calendar.fc .fc-daygrid-day-events {
    display: flex;
    width: 100%;
    max-width: 100%;
    height: 100%;
    margin: 0;
    /* z-index: -1; */
}

.fb__calendar.fc .fc-dayGridMonth-view .fc-daygrid-day-events {
    height: 118px;
    /* max-height: 110px; */
}

/* 달력 셀 이벤트 내부 */
.fb__calendar.fc .fc-daygrid-day-events .fc-daygrid-event-harness {
    /* display: table-cell;
    vertical-align: middle; */
    width: 100%;
    align-self: center;
}

.fb__calendar.fc .fc-dayGridMonth-view  .fc-daygrid-event-harness {
    /* height: 100px; */
}

.fb__calendar.fc .fc-dayGridMonth-view .fc-event-main {
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 110px;
}

/* 달력 그룹 별 리스트 */
.fb__calendar .fc-daygrid-event.fb__calendar__event .fc-event-main .event-list:not(:last-of-type) {
    margin-bottom: 10px;
}

/* 달력 셀렉트 시 배경색  */
.fb__calendar .fc-daygrid-event.fb__calendar__event .fc-event-main .event-item {
    color : #000;
    text-align : center;
    font-size: 12px;
    font-weight: bold;
    text-decoration: underline;
    color: #339af0;
}

.fb__calendar .fc-daygrid-event.fb__calendar__event .fc-event-main .event-item.group {
    color: #212529;
}

.fb__calendar .fc-daygrid-event.fb__calendar__event .fc-event-main > ul > li {
    text-align : center;
    font-size: 14px;
    font-weight: bold;
    text-decoration: underline;
    color: #339af0;
}

.fb__calendar .fc-daygrid-event.fb__calendar__event .add-btn {
    display: block;
    margin: 10px auto 0;
}

.fb__calendar .btn-white:hover {
    opacity: 0.5;
}

.fb__calendar.fc .fc-toolbar.fc-header-toolbar > .fc-toolbar-chunk:nth-child(2) {
    width : 380px;
}

.fb__calendar.fc .fc-toolbar.fc-header-toolbar > .fc-toolbar-chunk:nth-child(2) > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width : 100%;
}

.fb__calendar.fc .fc-toolbar.fc-header-toolbar > .fc-toolbar-chunk:nth-child(2) > div .fc-button {
    padding : 0;
    background-color: inherit;
    border: none;
    color: #000;
    font-size: 16px;
    font-weight: bold;
}

.fb__calendar__header {
    width : 100%;
    height: 50px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    line-height: 50px;
}

.fb__calendar__header:after {
    display: block;
    clear: both;
    content : "";
}

.fb__calendar__header .left,
.fb__calendar__header .center,
.fb__calendar__header .right,
.fb__calendar__header .center > div,
.fb__calendar__header .center .center__current-wrapper {
    display: flex;
    align-items : center;
}

.fb__calendar__header .center {
    display: inline-flex;
}

.fb__calendar__header .left,
.fb__calendar__header .right {
    flex: 1 1;
}

.fb__calendar__header .left {
    float: left;
    font-size: 16px;
    font-weight: bold;
}

.fb__calendar__header .right {
    float: right;
}

.fb__calendar__header .right > button {
    margin-left: 10px;
}

.fb__calendar__btn {
    padding: 5px;
    background-color: inherit;
    border: none;
    color: #000;
    font-size: 24px;
    font-weight: bold;
}

.fb__calendar__btn:hover {
    opacity: 0.5;
}

.fb__calendar__btn > .fb-icon {
    font-size: 24px;
}

.fb__calendar__date {
    font-weight: bold;
    font-size: 16px;
}

.fb__calendar__date.center__current {
    font-size: 18px;
    margin-right: 5px;
}

.datePicker-hide {
    overflow: hidden;
    width : 32px;
    height: 32px;
    line-height: 1;
}

.datePicker-hide > span.k-widget > span.k-picker-wrap {
    background: transparent;
    border: none;
}

.datePicker-hide > span.k-widget > span.k-picker-wrap span.k-select {
    position: absolute;
    top: 0;
    left: 0;
    border: none;
}

.datePicker-hide input[data-role="datepicker"] {
    display: none;
    border: none;
}

/* 이전 달, 다음 달 셀 */
.fc-daygrid-day.fc-day-past.fc-day-other .fc-daygrid-day-events,
.fc-daygrid-day.fc-day-past.fc-day-other .button-overlay,
.fc-daygrid-day.fc-day-future.fc-day-other .fc-daygrid-day-events,
.fc-daygrid-day.fc-day-future.fc-day-other .button-overlay {
    visibility: hidden;
}

/* 2020.12.16  주문/배송 관리 팝업 달력 */
.fbCalendar--mini {
    width: 100%;
    padding: 5px;
    /* FIXME 임시로 350px로 지정 */
    /* width: 350px; */
    margin: 0 auto;
}

.fbCalendar__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.fbCalendar__header .box--green {
    width: 22px;
    height: 22px;
    margin-right: 10px;
    vertical-align: middle;
}

.fbCalendar__header span {
    font-weight: bold;
}

.box--green {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-color: #80c342;
}

.fbCalendar--mini .fc .fc-button-primary {
    background-color: transparent;
    border: none;
    box-shadow: 0 0 0 0.2rem rgba(44,62,80,.25);
}

.fbCalendar--mini .fc .fc-button-primary:hover,
.fbCalendar--mini .fc .fc-button-primary:active {
    background-color: transparent !important;
}

.fbCalendar--mini .fc .fc-button-primary .fc-icon {
    color: black;
    font-weight: bold;
    font-size: 2.5rem;
}

.fbCalendar--mini .fc .fc-daygrid-day-frame {
    display: flex;
    flex-direction: column;
}

.fbCalendar--mini .fc .fc-daygrid-body-unbalanced .fc-daygrid-day-events,
.fbCalendar--mini .fc .fc-daygrid-day-events {
    /* display: none;
    min-height: 0;
    margin: 0;*/
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    /* width: 100%;
    height: 50px; */
    min-height: 0;
    margin: 0;
}

.fbCalendar--mini .fc .fc-daygrid-body-unbalanced .fc-daygrid-event-harness,
.fbCalendar--mini .fc .fc-daygrid-event-harness {
    width: 47px;
    height: 50px;
}

.fbCalendar--mini .fc .fc-daygrid-body-unbalanced .fc-daygrid-event-harness .fc-daygrid-event,
.fbCalendar--mini .fc .fc-daygrid-event-harness .fc-daygrid-event {
    height: 100%;
    margin: 0;
    /* background: rgba(0, 0, 0, 0.4); */
    font-size: 1.5rem;
}

.fbCalendar--mini .fc-daygrid-event-dot,
.fbCalendar--mini .fc-event-time {
    display: none;
}

.fbCalendar--mini .fc-event-title {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.fbCalendar--mini .fb__event__item {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.fbCalendar--mini .fb__event__title {
    /* display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    color: #fcc419;
    font-weight: bold;
    font-size: 2rem;
    border: 1px solid #fcc419;
    border-radius: 50%; */
    font-size: 1.75rem;
    color: #fcc419;
}

.fbCalendar--mini .fc .fc-daygrid-day-top {
    width: 100%;
    text-align: center;
}

/* 다른 달에 포함된 날짜 */
.fbCalendar--mini .fc .fc-day-other .fc-daygrid-day-top {
    opacity: 1;
}

/* 오늘 날짜 */
.fbCalendar--mini .fc .fc-daygrid-day.fc-day-today {
    background-color: transparent;
    /* color: #ff6600; */
}

.fbCalendar--mini .fbCalendar__cell {
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.5rem;
    /* opacity: 0.3; */
}

.fbCalendar--mini .isEvent .fbCalendar__cell {
    font-size: 0px;
}

.fbCalendar__cell--selectable {
    background-color: #80c342;
    /* color: white; */
    cursor: pointer;
    opacity: 1;
}

/* .fbCalendar--mini .fc-day-today .fbCalendar__cell.fbCalendar__cell--selectable {
    background-color: #ade07c;
    color: #ff6600;
    cursor: pointer;
    opacity: 1;
} */

.fbCalendar__cell--disabled {
    background-color: white;
    color: black;
    opacity: .3;
}

.fbCalendar__cell--dayoff {
    background-color: white;
    color: red;
    opacity: 1;
}

.fbCalendar__cell--completed {
    background-color: blue;
    color: white;
    opacity: 1;
}

.fbCalendar__cell--newArrival {
    background-color: #fcc419;
    color: white;
    opacity: 1;
    font-size: 1.75rem;
}

.fbCalendar__calendarInput {
    position: relative;
    /* overflow: hidden; */
    width: 100%;
}

.fbCalendar__calendarInput input {
    width: 100%;
    height: 32px;
    padding-right: 32px;
    border: 1px solid #ddd;
}

.fbCalendar__calendarInput input:active,
.fbCalendar__calendarInput input:focus {
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
}

.fbCalendar__calendarInput button.btn--calendar {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 0px;
    color: transparent;
    width: 32px;
    height: 32px;
    background-color: transparent;
    background-image: url("../images/common/icon-calendar.png");
    background-position: center;
    background-repeat: no-repeat;
    border-left: 1px solid #ddd;
}

.fbCalendar__calendarInput button.btn--calendar:hover {
}

/* 2020.12.16  주문/배송 관리 팝업 달력 End */

/* 2020.12.21 데이트피커 CSS 수정 */
input.fb__datePicker--input {
    display: block;
    width: 100%;
}

.fb__datePicker--input:active,
.fb__datePicker--input:focus {
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
}

/* 데이트피커 너비 */
.fb__datePicker.ui-datepicker {
    width: 24rem;
    padding: 0.5rem;
}

.fb__datePicker--big.ui-datepicker {
    width: 30rem;
    padding: 1rem;
}

.fb__datePicker__header {
    text-align: right;
    margin-bottom: 8px;
}

.fb__datePicker .box--green {
    width: 20px;
    height: 20px;
}

.fb__datePicker__caption {
    margin-left: 5px;
    font-weight: bold;
    font-size: 13px;
    vertical-align: top;
}

/* 데이트피커 헤더 */
.fb__datePicker.ui-datepicker .ui-datepicker-header {
    background-color: white;
    border: none;
    color: black;
}

.fb__datePicker.ui-datepicker .ui-datepicker-title {
     font-size: 1.6rem;
}

.fb__datePicker.ui-datepicker .ui-widget-header a {
    cursor: pointer;
    background-color: transparent;
    border: none;
    box-shadow: 0 0 0 0.2rem rgba(44,62,80,.25)
}

.fb__datePicker.ui-datepicker .ui-widget-header a.ui-state-hover {
    background-color: transparent;
    border: none;
    box-shadow: 0 0 0 0.2rem rgba(44,62,80,.25)
}

.fb__datePicker.ui-datepicker .ui-datepicker-prev-hover,
.fb__datePicker.ui-datepicker .ui-datepicker-next-hover {
    top: 2px;
}

.fb__datePicker.ui-datepicker .ui-datepicker-prev-hover {
    left: 2px;
}

.fb__datePicker.ui-datepicker .ui-datepicker-next-hover {
    right: 2px;
}

.fb__datePicker.ui-datepicker table {
    margin: 0;
}

.fb__datePicker.ui-datepicker td {
    padding: 0px;
    border: 1px solid #ddd;
    border-collapse: collapse;
}

/* 데이트피커 날짜 기본 */
.fb__datePicker.ui-datepicker .ui-state-default,
.fb__datePicker.ui-datepicker .ui-widget-content .ui-state-default{
    padding: 0.5rem;
    background: #80c342;
    color: #666666;
    border: none;
    text-align: center;
    font-weight: bold;
    font-size: 1.4rem;
}

.fb__datePicker--big .ui-state-default,
.fb__datePicker--big .ui-widget-content .ui-state-default {
    padding: 1rem;
    font-size: 1.6rem;
}

/* 오늘 날짜 */
.fb__datePicker.ui-datepicker .ui-state-highlight,
.fb__datePicker.ui-datepicker .ui-widget-content .ui-state-highlight {
    background: #ff6600;
    color: #ffffff;
}

/* 선택된 날짜 */
.fb__datePicker.ui-datepicker .ui-state-active,
.fb__datePicker.ui-datepicker .ui-widget-content .ui-state-active {
    background-color: #fcc419;
    color: #ffffff;
}

/* 선택 불가능한 날짜 */
.fb__datePicker.ui-datepicker .ui-state-disabled .ui-state-default,
.fb__datePicker.ui-datepicker .ui-widget-content .ui-state-disabled .ui-state-default {
    background: white;
    color: gray;
}

/* 선택 불가능한 날짜 & 휴일 */
.fb__datePicker.ui-datepicker .ui-state-disabled.dayOff,
.fb__datePicker.ui-datepicker .ui-widget-content .ui-state-disabled.dayOff {
    opacity: 1;
}

/* 선택 불가능한 날짜 & 휴일 */
.fb__datePicker.ui-datepicker .ui-state-disabled.dayOff .ui-state-default,
.fb__datePicker.ui-datepicker.ui-widget-content .ui-state-disabled.dayOff .ui-state-default {
    background: white;
    color: red;
}

.fb__datePicker.ui-datepicker .ui-state-disabled {
    pointer-events: auto;
}

/* 2020.11.05 김승우 */
/* tooltip 공통 CSS */
.k-window-title .tooltip-container {
    margin-left: 10px;
    vertical-align: baseline;
}

.wrap-location .tooltip-container {
    vertical-align: baseline;
}

.tooltip-container {
    display: inline-block;
    position: relative;
    vertical-align: middle;
}

.tooltip-icon {
    display: inline-block;
    position: relative;
    width : 14px;
    height : 14px;
    border: 1px solid #000;
    border-radius: 50%;
    color: black;
    cursor: pointer;
}

.tooltip-icon:after {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    color: black;
    font-weight: bold;
    font-size: 12px;
    transform: translate(-50%, -50%);
    content : "\003F"
}

.tooltip-container:hover .tooltip-box{
    /* display: block; */
    transform: scale(1);
    visibility: visible;
}

.tooltip-box {
    /* display: none; */
    position: absolute;
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    top: 0;
    min-width : 180px;
    min-height: 50px;
    max-width: 400px;
    height: auto;
    width: auto;
    padding: 10px;
    border-radius: 5px;
    background-color: #eae8e8;
    text-align: left;
    z-index: 1;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    visibility: hidden;
    transform: scale(0.5);
    transform-origin : center;
    transition: transform 0.3s ease 0s;
}

.tooltip__title {
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
}

.tooltip__message {
    font-size: 12px;
    font-weight: normal;
}

.tooltip__message__item {
    margin-bottom: 3px;
}

.tooltip__message__item:before {
    margin-right: 5px;
    content: "-";
}

.tooltip__message__item > * {
    display : inline-block;
}
/* tooltip 공통 End */

.placeholder--lighter::placeholder {
    opacity : 0.8;
}


/* 팝업 사이즈 2020.11.20 */
.k-window-content.inputPopup-content {
    max-height : 900px;
}

/* 테이블 커맨드 영역 버튼 */
table td .btn-area.col-2 {
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
}

table td .btn-area.col-2 button {
    overflow: hidden;
    width : 40%;
    min-width: auto;
    padding: 7.5px 5px;
    margin: 0 5px 0 0;
    text-overflow: ellipsis;
}

table td .btn-area.col-2 button:last-child {
    margin: 0;
}

table td .btn-area.col-3 button {
    overflow: hidden;
    width : 30%;
    min-width: auto;
    padding: 7.5px 2.5px;
    margin: 0 5px 0 0;
    text-overflow: ellipsis;
}

table td .btn-area.col-3 button:last-child {
    margin: 0;
}

button:disabled {
    opacity: 0.5;
}

.fb__datePicker {
    display: inline-block;
    position: relative;
}

.form__notice.hidden {
    display: none;
}

/* 2020.12.24 CS 공통 검색 영역 */
.commonArea {
    position: relative;
    padding: 10px 0;
    margin: 0 0 30px 0;
    border-bottom: 1px solid #ddd;
}

.commonArea:after {
    display: block;
    clear: both;
    content: "";
}

.commonArea__content {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 40px;
    padding: 0 40px 0 20px;
    border: 1px solid #ddd;
    border-radius: 15px;
    background-color: #ffffff;
    transform: translate(0, 50%);
}

/* 회원 */
.commonArea__content.auth {
    background-color: #d9f1c8;
}

/* 비회원 */
.commonArea__content.nonMember {
    background-color: #EDEDED;
}

/* 외부몰 */
.commonArea__content.outsideMall {
    background-color: #CEE5F3;
}

.commonArea__content--input {
    width: 690px;
}

.commonArea__content form {
    display: block;
    height: 100%;
    padding: 5px 0;
}

.commonArea__input {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0;
    line-height: 40px;
    color: #000000;
    font-size: 13px;
    border: none;
    border-bottom: 1px solid #ddd;
    outline: none;
}

.commonArea__btn {
    position: absolute;
    display: inline-block;
    top: 50%;
    right: 20px;
    width: 20px;
    height: 20px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center center;
    transform: translate(0, -50%);
    font-size: 0px;
}

.commonArea__btn.commonArea__btn--submit {
    background-image: url("/contents/images/common/icon-search.png");
}

.commonArea__btn.commonArea__btn--reload {
    background-image: url("/contents/images/common/icon-reload.png");
    background-size: 17px 18px;
}

.commonArea__userInfo {
    height: 100%;
}

.commonArea__userInfo::after {
    display: block;
    clear: both;
    content: "";
}

.commonArea__userInfoItem {
    display: inline-block;
    position: relative;
    overflow: hidden;
    float: left;
    height: 100%;
    margin: 0 10px 0 0;
    padding: 10px 10px 10px 0;
    font-size: 13px;
}

.commonArea__userInfoItem:after {
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0 , -50%);
    height: 50%;
    width: 1px;
    background-color: #ddd;
    content: "";
}

.commonArea__userInfoItem:last-child {
    margin: 0;
}

.commonArea__userInfoItem:last-child:after {
    display: none;
}

.commonArea__userInfoItem span {
    letter-spacing: -1px;
}

.commonArea__userBadge {
    padding: 0 3px;
    margin: 0 0 0 3px;
    border: 1px solid #ddd;
}

.commonArea__userBadge.blackList {
    border-color: red;
    color: red;
}

.commonArea__userInfoItem.userName {
    font-weight: bold;
}

/* fileUpload */
.fileUpload-container {
    width: 100%;
}

.fileUpload__title {
    display: none;
    font-weight: bold;
    font-size: 16px;
    vertical-align: middle;
}

.fileUpload__input {
    /*display: none;*/
}

.fileUpload__message {
    font-weight: bold;
    font-size: 16px;
    vertical-align: middle;
}

.fileUpload__removeBtn {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    font-size: 0;
    background-color: #f7f7f7;
    background-image: url("../images/common/btn-modal-close.png");
    background-repeat: no-repeat;
    background-position: center;
}

.fileUpload__imgCont {
    display: none;
    overflow : hidden;
    width : 100%;
    height: 100px;
    margin-top: 10px;
}

.fileUpload__imgCont > figure {
    overflow : hidden;
    position: relative;
    width : 100%;
    height : 100%;
}

.fileUpload__imgCont > figure > img {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    max-height: 100%;
    width : auto;
    margin: 0 auto;
    transform: translate(-50%, -50%);
}

.fileUpload__imgWrapper {
    display: none;
    overflow: hidden;
    margin-top: 10px;
}

.fileUpload__img {
	display: inline-block;
	position: relative;
	height: 200px;
}


.fileUpload__imgWrapper img {
	display: block;
	object-fit: fill;
	height: 100%;
}

/* fileUpload 가로 */
.fileUpload-container--horizontal .fileUpload::after {
    display: block;
    clear: both;
    content: '';
}

.fileUpload-container--horizontal .fileUpload__inputWrapper,
.fileUpload__inputWrapper {
    display: block;
}

.fileUpload-container--horizontal .fileUpload__inputWrapper {
    float: left;
    width: 110px;
    margin: 0 10px 0 0;
}

.fileUpload-container--horizontal .fileUpload__imgWrapper {
	float: left;
    margin: 0;
}

.fileUpload-container--horizontal .fileUpload__label {
    display: inline-block;
    height: 32px;
    line-height: 32px;
    padding: 0 20px;
}

.fileUpload-container--horizontal .fileUpload__message {
    display: block;
    font-size: 13px;
    font-weight: normal;
}

.fileUpload-container--horizontal .fileUpload__img img {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    margin: 0;
    object-fit: fill;
    z-index: 1;
}

.fileUpload-container--horizontal .fileUpload__removeBtn {
    border: 1px solid #ddd;
    background-color: #f7f7f7;
    width: 29px;
    height: 29px;
    padding: 0 5px;
    z-index: 3;
}
/* fileUpload End */

.form-control:not(:last-child) {
	margin: 0 0 20px 0;
}

.form-control label {
	display: block;
	margin: 0 0 10px 0;
}

.downloadPopup__title {
	font-size: 16px;
	font-weight: bold;
}

.downloadPopup__message {
	font-size: 14px;
}

.visually-hidden,
.blind {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}
/* 2020.12.24 CS 공통 검색 영역 End */

/* 미디어 쿼리  width */
@media screen and (max-width: 1400px) {
    .datepicker-container.btn-style {
        display: flex;
        flex-direction: column;
    }

    .datepicker-container.btn-style .datepicker-wrapper:first-child {
        margin-bottom: 10px;
    }

    .fb__custom__radio label,
	.fb__custom__checkbox label {
	    margin: 5px 10px 5px 0;
	}
}

/* 미디어 쿼리  height */
@media screen and (max-height : 1080px) {
    .k-window-content.inputPopup-content {
        max-height : 800px;
    }
}

@media screen and (max-height : 980px) {
    .k-window-content.inputPopup-content {
        max-height : 700px;
    }
}

@media screen and (max-height : 880px) {
    .k-window-content.inputPopup-content {
        max-height : 600px;
    }
}

@media screen and (max-height : 780px) {
    .k-window-content.inputPopup-content {
        max-height : 500px;
    }
}