<!-- 대시보드 공지사항 팝업 -->
<div class="fb__sect">
 <div id="content"></div>
 <form id="dashboardNoticePopupForm" name="dashboardNoticePopupForm" method="post" onsubmit="return false">
 		<input id="csCompanyBbsId"  name="csCompanyBbsId"  type="hidden">
		<button type="button" id="fnOk" class="set-btn-type2 full-btn marginR10" onclick="$scope.fnOk()">확인</button>
		<label for="popupDisplayTodayYn">
			<input type="checkbox" id="popupDisplayTodayYn" class="fb__custom__checkbox" name="popupDisplayTodayYn">
			<span>오늘 하루 안 보기</span>
		</label>
  </form>
</div>