/* 2020.12.02 기획전 프로모션
   작성자 : 김승우
*/

.exhibitMgm {
  width: 100%;
}
.exhibitMgm  .datatable .period {
  padding-right: 5px;
}

.exhibitMgm  .datatable .period > div {
  display: flex;
  align-items: center;
  line-height: 1;
}

.exhibitMgm  .datatable .period > div >  label {
  margin-right: 5px;
}

.exhibitMgm  .datatable .period .fb__custom__checkbox label span {
  font-size: 90%;
  width: auto;
}
.exhibitMgm  .datatable .period .fb__custom__checkbox label input {
  margin-right: 5px;
}

.datatable label small {
  font-size: 80%;
  font-weight: normal;
  word-break: keep-all;
}

.exhibitMgm .fileUpload__imgWrapper {
  /*width: 60%;*/
}

.exhibitMgm .kendoEditor {
  max-width: 100%;
  border: 1px solid #ddd;
}

.exhibitMgm .register-info,
.exhibitMgm .updated-info {
  font-weight: bold;
  color: #2f9e44;
  text-decoration: underline;
}

.exhibitMgm .register-date:after,
.exhibitMgm .updated-date:after {
  display: inline;
  margin-left: 3px;
  content: "/";
}

.form-wrapper:not(:last-child) {
  margin-bottom: 10px;
}

.form-wrapper__title {;
  margin-bottom: 10px;
}

.form-wrapper__caption {
  display: inline-block;
  margin-right: 10px;
  font-size: 16px;
  font-weight: bold;
}

.form-wrapper__caption:before {
  display: inline-block;
  margin-right: 3px;
  font-size: 16px;
  content: ">";
}

th.active label {
  font-size: 2rem;
}

.exhibit__groupName {
  display: flex;
}

.exhibit__groupName > div {
  flex: 1 1;
}

.exhibit__groupName__textColor {
  display: flex;
  align-items: center;
  margin-left: 1rem;
}

.exhibit__groupName__textColor span {
  font-weight: bold;
  margin-right: 0.5rem;
}

.exhibit__groupName__textColor > input.comm-input {
  width: 60% !important;
}

.exhibit__colorCode {
  width: 200px;
  margin: 5px 0 0;
}

.grid-wrapper-btns {
  margin-bottom: 5px;
}

.grid-wrapper-btns button:not(:last-child) {
  margin-right: 0.5rem;
}

.grid-wrapper {
  width: 100%;
}

.exhibitMgm .tabs {
  display: none;
}

.exhibitMgm .tabs.show {
  display: block;
}

.eventMgm__commentTpListItem:not(:last-child) {
    margin: 0 0 5px 0;
}

.eventMgm__commentTpListItem p {
    display: inline-block;
    margin: 0 10px 0 0;
}

.eventMgm__commentTpListItem button {
    padding: 0 5px;
}

.userGroupList .eventMgm__commentTpListItem:not(:last-child) {
    margin: 0 10px 0 0;
}