/* 
  2020.12.04
  페이지 : 주문/배송관리 > 배송관리
  작성자 : 김승우
*/

.k-grid tbody .k-button.tracking__detailBtn {
  margin-right: 5px;
}

#contents .trackingNumberDetailList  .ea-title span.regDate {
  margin: 0;
}

/* 배송중 주문상세 리스트 */
.deliveryIngOrderDetailList .search-wrapper .input-wrapper {
  display: inline-block;
  width: calc(100% - 170px);
}

.deliveryIngOrderDetailList .section-navigation {
  margin-bottom: 10px;
}

.deliveryIngOrderDetailList .dateSearch {
  display: flex;
  flex-wrap: wrap;
}

.deliveryIngOrderDetailList .dateSearch__list {
  flex-shrink: 0;
  margin-right: 10px;
}

.deliveryIngOrderDetailList .dateSearch .datepicker-container.btn-style{
  display: flex;
  flex-shrink: 0;
}