<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.pulmuone.batch.esl.infra.mapper.order.slaveEsl.EslOrderBatchMapper">

	<insert id="addEatsslimOrder" parameterType="EatsslimOrderHeaderDto">
		/* eslOrderBatchMapper.addEatsslimOrder */
		INSERT INTO ESL_ORDER_PULSHOP_INF
		(
			OUT_ORDER_NUM
			, ORD_CHANNEL_CD
			, ORDER_NAME
			, RECV_NAME
			, RECV_ZIPCODE
			, RECV_ADDR1
			, RECV_ADDR2
			, RECV_HP
			, RECV_TEL
			, RECV_REQ_MSG
			, GOODS_PRICE
			, DEVL_PRICE
			, COUPON_PRICE
			, PAY_PRICE
			, ORDER_DATE
			, GROUP_CODE
			, DELV_TYPE
			, JISA_CD
			, ORDER_QTY
			, DELV_FIRST_DATE
			, DEVL_DAY
			, DEVL_WEEK
			, BUY_BAG_YN
			, GIFT_GROUP_CODE
			, GIFT_ORDER_QTY
			, GIFT_DEVL_DAY
			, EXPERIENCE_GROUP
			, DOOR_MSG
			, DOOR_MSG_DTL
			, REG_DATE
		)
		VALUES
		(
			#{outOrderNum}
			, #{ordChannelCd}
			, #{orderName}
			, #{recvName}
			, #{recvZipcode}
			, #{recvAddr1}
			, #{recvAddr2}
			, #{recvHp}
			, #{recvTel}
			, #{recvReqMsg}
			, #{goodsPrice}
			, #{devlPrice}
			, #{couponPrice}
			, #{payPrice}
			, #{orderDate}
			, #{groupCode}
			, #{delvType}
			, #{jisaCd}
			, #{orderQty}
			, #{delvFirstDate}
			, #{devlDay}
			, #{devlWeek}
			, #{buyBagYn}
			, #{giftGroupCode}
			, #{giftOrderQty}
			, #{giftDevlDay}
			, #{experienceGroup}
			, #{doorMsg}
			, #{doorMsgDtl}
			, NOW()
		)
	</insert>

</mapper>

