/*
  2020.12.07
  페이지 : 주문/배송관리 > 클레임
  작성자 : 김승우
*/

.claim .search-wrapper .input-wrapper {
  display: inline-block;
  width: calc(100% - 170px);
}

.claim .dateSearch {
  display: flex;
  flex-wrap: wrap;
}

.claim .dateSearch__list {
  flex-shrink: 0;
  margin-right: 10px;
}

.claim .dateSearch .datepicker-container.btn-style{
  display: flex;
  flex-shrink: 0;
}

.claimMgm .add-payment-btn {
	display: inline-block;
    margin-right: 10px;
}

.claimMgm .add-payment-btn span {
	display: inline-block;
    min-width: 84px;
    padding: 9.5px 20px;
    line-height: 1;
    font-size: 13px;
    border: 1px solid #ddd;
    cursor: pointer;
}

.claimMgm .add-payment-btn:last-child {
	margin-right: 0;
}

.claimMgm .add-payment-btn input {
	display: none;
}

.claimMgm .add-payment-btn input:checked + span {
	background: #80c342;
    border: 1px solid #ddd;
    color: #fff;
}

.claimMgm #claimMgmPopupOrderGoodsGrid .k-edit-cell {
  padding: 5px;
}

.claimMgm #claimMgmPopupOrderGoodsGrid .claimCnt-wrapper {
  position: relative;
}

.claimMgm #claimMgmPopupOrderGoodsGrid .claimCnt-wrapper .comm-input {
  padding-left: 7px;
  cursor: pointer;
}

.claimMgm #claimMgmPopupOrderGoodsGrid .claimCnt-wrapper:after {
  position: absolute;
  top: 50%;
  right: 7px;
  width: 12px;
  height: 7px;
  background: url(../../images/common/icon-dropdown.png) no-repeat center center;
  transform: translateY(-50%);
  z-index: 1;
  content: "";
}