/**-----------------------------------------------------------------------------
 * description 		 : 주문/배송관리 주문 상세
 * @
 * @ 수정일			    수정자      수정내용
 * @ ------------------------------------------------------
 * @ 2020.12.04     김승우      최초작성
 * @ 2020.12.09     김승우      상품/결제 정보 영역 수정
 * @ 2020.12.15     김승우      배송 추적 영역 수정
 * @ 2020.01.05     김승우      스케쥴 관리 CSS 추가
 * **/
.orderMgm #tabstrip > .k-tabstrip-items {
  margin: 0;
}

.orderMgm .k-tabstrip > .k-content {
  margin: 0 !important;
}

.orderMgm .k-tabstrip-top .k-tabstrip-items .k-item {
  width: 15%;
  height: 50px;
  line-height: 50px;
  border-bottom: none;
}

.tab-cont__inner {
  padding: 10px;
  border: 1px solid #ddd;
}

.tab-cont__inner.common {
  border-top: none;
}

.tab-cont__header {
  margin-bottom: 10px;
}

.tab-cont__header .btn-area {
  margin: 0;
}

.tab-cont__inner .datatable.v-type td {
  padding: 0;
}

.orderMgm .table-wrapper:not(:last-child) {
  margin-bottom: 20px;
}

.orderMgm .table-toggleBtn {
  float: right;
  font-size: 30px;
  padding-right: 50px;
  background: none;
}

.orderMgm .fold .table-toggleBtn {
  transform: rotate(180deg);
}

.orderMgm .fold .toggleRow {
  display: none;
}

.orderMgm th.active:after {
  display: block;
  clear: both;
  content: "";
}

.infoTable-wrapper {
  overflow: auto;
  width: 100%;
}

.orderMgm .infoTable-wrapper {
  max-height: 550px;
}

.orderMgm .infoTable tbody tr th,
.orderMgm .infoTable thead tr th {
  text-align: center;
}

.orderMgm__card {
  margin-right: 5px;
}

.orderMgm__card:after {
  display: inline;
  margin-left: 5px;
  content: "/";
}

.consult {
  width: 100%;
}

.consult:not(:last-child) {
	border-bottom: 1px solid #ddd;
}

.consult:not(:last-child) {
  border-bottom: 1px solid #ddd;
}

.consult::after {
  display: block;
  clear: both;
  content: "";
}

.consult__left,
.consult__right {
  float: left;
  padding-bottom: 5px;
  padding-top: 5px;
}

.consult__left {
  width: 25%;
}

.consult__left .btn-area {
  text-align: left;
}

.consult__right {
  width: 75%;
}

.consult__manager {
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 16px;
}

.consult__manager__name {
  margin-right: 5px;
}

.consult__manager__name:after {
  display: inline-block;
  margin-left: 5px;
  content: "/";
}

.consult__regTime {
  margin-bottom: 5px;
}

.orderIf-period {
  font-weight: bold;
  font-size: 16px;
}

.orderIfType-label {
  display: block;
  text-align: center;
}


/* 새벽/일반 라디오 탭 */
.labelTabs {
  margin-bottom: 5px;
}

.labelTabs__list:after {
  display: block;
  clear: both;
  content: "";
}

.labelTabs__listItem {
  float: left;
  text-align: center;
  /* border: 1px solid #ddd; */
}

.labelTabs__listItem:not(:last-child) {
  border-right: transparent;
}

.labelTabs__label {
  display: block;
}

.labelTabs__label > input {
  display: none;
}

.labelTabs__label > input:checked + span {
  background-color: #ecf6e3;
  border-color: gray;
}

.labelTabs__label > span {
  display: block;
  padding: 5px 0;
  width: 150px;
  background: white;
  border: 1px solid #ddd;
  font-size: 16px;
  font-weight: bold;
}

/* 2020.12.10 배송 요일 변경 */
.deliveryDayWeek {
  /* width: 500px; */
  margin: 0 auto;
}

.deliveryDayWeek__table {
  width: 100%;
  font-weight: bold;
  font-size: 16px;
}

.deliveryDayWeek__table td {
  padding: 10px;
  vertical-align: top;
}

.deliveryDayWeek__listItem {
  display: flex;
  align-items: center;
  padding: 5px;
}

.deliveryDayWeek label {
  margin-right: 20px;
}

.deliveryDayWeek label input,
.deliveryDayWeek label span {
  vertical-align: middle;
}

.deliveryDayWeek label input {
  margin-right: 5px;
}

.counter {
  display: flex;
  border: 1px solid #ddd;
}

.counter__btn {
  background-color: transparent;
}

.counter__btn.minus {
  border-right: 1px solid #ddd;
}

.counter__btn.plus {
  border-left: 1px solid #ddd;
}

.counter__btn,
.counter__count {
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
}

.counter__count {
  border: none;
}

.counter__btn:disabled,
.counter__count:disabled {
  background-color: #f8f8f8;
}

.deliveryDayWeek__day:after {
  display: inline;
  margin-left: 5px;
  content: "~";
}

/* 2020.12.10 배송 일정 변경 */
.deliveryDay {
  /* width: 500px; */
  margin: 0 auto;
}

.deliveryDay__title {
  font-weight: bold;
  font-size: 16px;
}

.deliveryDay__date:before {
  display: inline;
  margin-right: 5px;
  content: "~";
}

.deliveryDay__leftCount--cont::before {
  display: inline;
  margin: 0 5px;
  content: "/";
}

.deliveryDay__content__item:not(:first-child) {
  margin-top: 20px;
}

.deliveryDay__datepicker {
  margin-top: 10px;
}

.deliveryDay .btn-area {
  margin-top: 40px;
}

.k-state-disabled .k-link {
  color: red !important;
}

/* 2020.12.15 배송 추적  deliverySearchPopup */
/* FIXME width 변경 */
.deliverySearch {
  width: 100%;
  padding: 5px;
}

.deliverySearch__status--wrapper {
  margin-bottom: 20px;
}

.deliverySearch__statusList:after {
  display: block;
  clear: both;
  content: "";
}

.deliverySearch__status {
  display: block;
  position: relative;
  float: left;
  width: 25%;
  padding: 20px;
  text-align: center;
}



.deliverySearch__statusIcon {
  display: block;
  overflow: hidden;
  width: 60px;
  height: 60px;
  margin: 0 auto 10px;
  padding: 5px;
  border: 1px solid #ff6600;
  border-radius: 50%;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: calc(100% - 10px);
  background-position: center;
}

.deliverySearch__status.active .deliverySearch__statusIcon {
  border-color: #ff6600;
  background-color: #ff6600;
}

.deliverySearch__status.default .deliverySearch__statusIcon {
  border-color: #ddd;
}

.deliverySearch__statusIcon--home {
  background-image: url("/contents/images/delivery/home_active.png");
}

.deliverySearch__status.active .deliverySearch__statusIcon--home {
  background-image: url("/contents/images/delivery/home_white.png");
}

.deliverySearch__status.default .deliverySearch__statusIcon--home {
  background-image: url("/contents/images/delivery/home_default.png");
}

.deliverySearch__statusIcon--cart {
  background-image: url("/contents/images/delivery/cart_active.png");
}

.deliverySearch__status.active .deliverySearch__statusIcon--cart {
  background-image: url("/contents/images/delivery/cart_white.png");
}

.deliverySearch__status.default .deliverySearch__statusIcon--cart {
  background-image: url("/contents/images/delivery/cart_default.png");
}

.deliverySearch__statusIcon--delivery {
  background-image: url("/contents/images/delivery/delivery_active.png");
}

.deliverySearch__status.active .deliverySearch__statusIcon--delivery {
  background-image: url("/contents/images/delivery/delivery_white.png");
}

.deliverySearch__status.default .deliverySearch__statusIcon--delivery {
  background-image: url("/contents/images/delivery/delivery_default.png");
}

.deliverySearch__statusIcon--complete {
  background-image: url("/contents/images/delivery/complete_active.png");
}

.deliverySearch__status.active .deliverySearch__statusIcon--complete {
  background-image: url("/contents/images/delivery/complete_white.png");
}

.deliverySearch__status.default .deliverySearch__statusIcon--complete {
  background-image: url("/contents/images/delivery/complete_default.png");
}

.deliverySearch__status:after {
  display: block;
  position: absolute;
  top: 50%;
  right: -15px;
  transform: translateY(-50%);
  width: 20px;
  height: 40px;
  font-size: 0;
  background: url("../../images/common/btn-mainvideo-arrow-right.png") no-repeat center center;
  background-size: 20px 40px;
  content: "";
}

.deliverySearch__status:last-child:after {
  display: none;
}

.deliverySearch__status__title {
  font-size: 14px;
  font-weight: bold;
  color: #ff6600;
}

.deliverySearch__status.active .deliverySearch__status__title {
  color: #ff6600;
  font-weight: bold;
}

.deliverySearch__status.default .deliverySearch__status__title {
  font-weight: normal;
  color: inherit;
}

.deliverySearch__table--wrapper {
  margin-bottom: 50px;
}

.deliverySearch .table__cell {
  padding: 5px;
}

.deliverySearch__courier {
  color: black;
}

.deliverySearch__courier--name {
  margin-right: 10px;
}

.deliverySearch__courier--number {
  display: inline-block;
  padding: 2px 5px;
  color: black;
  border: 1px solid #181818;
}

.deliverySearch__invoice {
  color: black;
}

.deliverySearch__timeLineList {
  position: relative;
  overflow-y: auto;
  max-height: 400px;
  padding: 10px 0;
}

.deliverySearch__timeLine--wrapper {
  display: none;
  padding: 0 10px;
  font-size: 16px;
}

.deliverySearch__timeLine--wrapper.show {
  display: block;
}

.deliverySearch__timeLine__message {
  line-height: 1.5;
}

.deliverySearch__timeLine {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.deliverySearch__timeLine:last-child {
  margin-bottom: 0;
}

.deliverySearch__timeLine.on .deliverySearch__timeLine__dot{
  background-color: #ff6600;
}

.deliverySearch__timeLine__dot {
  position: relative;
  width: 20px;
  height: 20px;
  margin-right: 30px;
  border-radius: 50%;
  border: 2px solid #ff6600;
  background-color: white;
  vertical-align: middle;
}

.deliverySearch__timeLine__dot:after {
  display: block;
  position: absolute;
  top: 18px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 3px;
  height: 80px;
  background:#ddd;
  content: "";
}

.deliverySearch__timeLine:last-child .deliverySearch__timeLine__dot:after {
  display: none;
}

.deliverySearch__timeLine__dateCont {
  margin-right: 70px;
}

.deliverySearch__timeLine__status {
  display: flex;
}

.deliverySearch__timeLine__shippingStatus:after {
  display: inline;
  margin: 0 5px;
  content: "/";
}

.deliverySearch__timeLine.on .deliverySearch__timeLine__status,
.deliverySearch__timeLine.on .deliverySearch__timeLine__dateCont {
  color: #ff6600;
}

/* 2020.12.15 수취 정보 변경 */
.receiverMgmPopup {
  width: 100%;
  padding: 5px;
}

.regularReqGoodsListPopup.receiverMgmPopup {
  padding: 0 5px;
}

.regularReqGoodsListPopup.receiverMgmPopup .labelTabs {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  padding-bottom: 15px;
  margin-bottom: 15px;
  background-color: #fff;
  z-index: 1;
}

.receiverMgmPopup .labelTabs {
  margin-bottom: 30px;
}

.receiverMgmPopup .labelTabs__listItem {
  width: 50%
}

.receiverMgmPopup .labelTabs__label > span {
  width: 100%;
  padding: 10px;
}

.receiverMgmPopup .shippingList__listItem:not(:last-child) {
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #ddd;
}

.form__row  {
  margin-bottom: 15px;
}

.form__row:last-child {
  margin: 0;
}

.form__label {
  margin-bottom: 5px;
}

.form__label label {
  font-size: 14px;
  font-weight: 600;
  cursor: default
}

.form__label label.label--required:after {
  margin-left: 3px;
  color: rgb(243, 33, 33);
  content: "(필수)";
}

.form__element {
  width: 100%;
}

.form__phoneNum:after {
  display: block;
  clear: both;
  content: "";
}

.form__phoneNum .hyphen {
  display: block;
  float: left;
  width: 5%;
  height: 32px;
  line-height: 32px;
  text-align: center;
  font-size: 24px;
}

.form__phoneNum div.fb__custom__select,
.form__phoneNum .comm-input {
  float: left;
  width: 30%;
}

.receiver__addrRow {
  margin-bottom: 5px;
}

.receiver__addrRow.receiver__addrRow--zipRow {
  display: flex;
}

.comm-input.zipCode {
  width: 40%;
  margin-right: 5px;
}


 .receiverMgmPopup .fb__custom__radio.vertical{
   padding: 0;
 }

 .receiverMgmPopup .fb__custom__radio.vertical label {
   margin: 0 0 10px 0;
 }

 .entrance__detail {
   margin-bottom: 10px;
 }

 /* 배송 목록 */
 .shippingList__row {
  margin-bottom: 5px;
  font-size: 13px;
}

.shippingList__addr,
.shippingList__phoneNum {
  font-size: 14px;
  font-weight: bold;
}

.shippingList__zipCode {
  margin-right: 5px;
}

.shippingList__detailAddr {
  display: inline-block;
}

 .shippingList__isDefaultLocation {
   display: none;
   font-weight: bold;
   font-size: 12px;
 }

 .shippingList__isDefaultLocation.show {
   display: inline;
 }

 .shippingList__userInfo {
   float: left;
   line-height: 28px;
 }

 .shippingList__userName {
   margin-right: 5px;
   font-size: 14px;
   font-weight: bold;
 }


 .shippingList__shipInfo {
   padding: 0.8rem;
    background-color: #f5f5f5;
 }

 .shipInfo__row:not(:last-child) {
   margin-bottom: 10px;
 }

 .shipInfo__row:after {
  display: block;
  clear: both;
  content: "";
 }

 .shipInfo__title,
 .shipInfo__content {
   float: left;
 }

 .shipInfo__title {
  width: 30%;
  padding-right: 5%;
 }

 .shipInfo__content {
  width: 70%;
 }

 .shipInfo__password {
  width : 70%;
 }

 .shippingList__inputTitle {
   line-height: 32px;
 }

 .shippingList__datepicker {
  float: right;
 }

 .shippingList__btnArea button:not(:last-child) {
   margin-right: 5px;
 }

 /* 2020.12.18 수취 정보 변경 내역 */
 .receiverHistPopup .k-grid .k-grid-header th.k-header {
   padding: 8px 0;
 }

 .receiverHistPopup  > .fb__sect:first-child {
  margin-bottom: 50px;
 }

 .k-grid.receiverHistPopup__changeGrid {
   border-bottom: 1px solid #ddd;
 }

 /* 2020.12.18 신용카드 비인증 결제 */
 .cardPaymentPopup {
   width: 600px;
 }

 .cardPaymentPopup .comm-input:focus,
 .cardPaymentPopup .comm-input:active {
   border-color: gray;
 }

 .cardPaymentPopup .title__subTitle {
   font-size: 16px;
 }

 .cardPaymentPopup .comm-input,
 .cardPaymentPopup .payment {
   text-align: right;
 }

 .cardPaymentPopup .payment {
  float: left;
  width: 95%;
 }

 .cardPaymentPopup .payment input {
   width: 100%;
 }

 .cardPaymentPopup .unit {
  line-height: 32px;
 }

 .cardPaymentPopup .payment--wrapper:after,
 .cardPaymentPopup .cardNum--wrapper:after,
 .cardPaymentPopup .cardEx--wrapper:after,
 .cardPaymentPopup .extraInfo--wrapper:after,
 .cardPaymentPopup .cardPw--wrapper:after {
  display: block;
  clear: both;
  content: "";
 }

 .cardPaymentPopup .cardNum,
 .cardPaymentPopup .cardEx,
 .cardPaymentPopup .cardPw {
   float: left;
   width: 23%;
   margin-right: 2%;
 }

 .cardPaymentPopup .cardNum .comm-input,
 .cardPaymentPopup .cardEx .comm-input,
 .cardPaymentPopup .extraInfo .fb__custom__select,
 .cardPaymentPopup .extraInfo .comm-input,
 .cardPaymentPopup .cardPw .comm-input {
   width: 100%;
 }

.cardPaymentPopup .slash {
  float: left;
  margin-right: 2%;
}

 .cardPaymentPopup .form__notice,
 .cardPaymentPopup .slash,
 .cardPaymentPopup .password--extra {
   line-height: 32px;
 }

 .cardPaymentPopup p.form__notice {
  line-height: initial;
 }

 .cardPaymentPopup .form__notice:before {
   display: inline;
   margin-right: 3px;
   content: "*";
 }

 .cardPaymentPopup .extraInfo {
   float: left;
   width: 50%;
 }

 .cardPaymentPopup .extraInfo:first-child {
   padding-right: 2%;
 }

.cardPaymentPopup .cardPw {
margin: 0;
}

.cardPaymentPopup .password--extra {
  display: block;
  float: left;
  margin: 0 2%;
  letter-spacing: 8px;
}

.cardPaymentPopup .installment {
  width: 25%;
}

/* 2020.12.30 스케쥴 관리 */
.scheduleMgmPopup {
  width: 100%;
  height: 100%;
  font-size: 16px;
}

.scheduleList-container {
  display: block;
  position: relative;
  height: 100%;
  padding: 0 0 40px 0;
  /* border: 3px solid green; */
}

.scheduleList-container.hide,
.arrival-container.hide {
  display: none;
}

.scheduleList__saveBtn {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 40px;
}

.scheduleList-wrapper {
  overflow: auto;
  height: 100%;
  padding: 10px;
  /* border: 3px solid blue; */
}

.scheduleList__header {
  margin: 0 0 8px 0;
}

.scheduleList__programName {
  margin: 0 0 5px 0;
  font-weight: bold;
}

.scheduleList__period {
  margin: 0 0 10px 0;
  white-space: nowrap;
}

.scheduleList__periodDate::before {
  margin: 0 5px 0 0;
  content: "~";
}

.scheduleList__slash {
  margin: 0 5px;
}

/* 스케쥴 리스트 */
.scheduleList__list {
  width: 100%;
  padding: 0;
  /* border: 3px solid yellow; */
  list-style: none;
}

.scheduleList__schedule {
  /* border: 3px solid gray; */

}

.scheduleList__schedule:not(:last-child) {
  margin: 0 0 20px 0;
}

.scheduleList__scheduleHeader {
  margin: 0 0 8px 0;
  font-weight: bold;
}

.scheduleList__scheduleHeader::after {
  display: block;
  clear: both;
  content: "";
}

.scheduleList__scheduleHeader button {
  float: right;
}

.scheduleList__changeBtn.hide {
  display: none;
}

.scheduleList__goodsItem::after,
.arrival__goodsItem::after {
  display: block;
  clear: both;
  content: "";
}

.scheduleList__goodsItem:not(:last-child),
.arrival__goodsItem:not(:last-child) {
  margin-bottom: 10px;
}

.scheduleList__goodsImage,
.arrival__goodsImage {
  float: left;
  overflow: hidden;
  margin: 0 10px 0 0;
}

.scheduleList__goodsImage {
  width: 64px;
  height: 64px;
}

.arrival__goodsImage {
  width: 50px;
  height: 50px;
}

.scheduleList__goodsImage  figure,
.arrival__goodsImage  figure {
  width: 100%;
  height: 100%;
}

.scheduleList__goodsImage  img,
.arrival__goodsImage  img {
  display: block;
  width: 100%;
  height: 100%;
}

/* NOTE float을 하지 않은 속성은 float을 한 속성의 영역을 인식한다. */
.scheduleList__goodsInfo {
  padding: 0 0 0 74px;
}

.arrival__goodsInfo {
  padding: 0 0 0 60px;
}

.scheduleList__goodsName,
.arrival__goodsName {
  overflow: hidden;
  width: 100%;
  max-height: 32px;
  line-height: 16px;
}

.scheduleList__goodsInfo small,
.arrival__goodsInfo small {
  font-size: 13px;
}

.single .arrival__goodsInfo small {
  display: none;
}

.arrival-container {
  /* border: 3px solid blue; */
  height: 100%;
}

/* 상품 도착일 변경 버튼 있는 경우 */
.arrival-container.isButton {
  position: relative;
  padding: 0 0 40px 0;
}

.arrival-wrapper {
  height: 100%;
  /* border: 3px solid green; */
}

.arrival__updateBtn {
  display: none;
  width: 100%;
  height: 40px;
}

.isButton .arrival__updateBtn {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
}

.arrival-container .fbCalendar--mini {
  height: 450px;
}

.arrival-container .fbCalendar__header {
  margin-bottom: 10px;
}

.arrival__content {
  overflow-x: hidden;
  overflow-y: auto;
  height: calc(100% - 450px);
  padding: 5px 10px ;
  background-color: #f5f5f5;
  /* border: 3px solid powderblue; */
}

.arrival__goodsContainer--update {
  margin-bottom: 5px;
}

.arrival__goods {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.arrival__goods:not(:last-child) {
  margin-bottom: 10px;
}

.arrival__goodsList {
  flex: 1 1;
  margin: 0 10px 0 0;
}

.arrival__dateInfo {
  font-weight: bold;
  margin-bottom: 5px;
}

.arrival__notice {
  display: none;
  margin-bottom: 5px;
  font-weight: bold;
  color: #f44336;
}

.arrival__notice.show {
  display: block;
}

/* .arrival__goodsList li,
.arrival__goodsInfo {
  display: flex;
}

.arrival__goodsList li {
  justify-content: space-between;
  align-items: center;
}

.arrival__goodsList li:not(:last-child) {
  margin-bottom: 10px;
}

.arrival__goodsInfo {
  flex: 1 1;
}

.arrival__goodsName {
  display: flex;
  flex: 1 1;
  align-items: center;
  font-weight: bold;
}

.arrival__goodsImage {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.arrival__goodsImage figure {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.arrival__goodsImage img {
  width: 100%;
  height: 100%;
} */

.arrival-container .fbCalendar--mini .fc .fc-daygrid-body-unbalanced .fc-daygrid-event-harness,
.arrival-container .fbCalendar--mini .fc .fc-daygrid-event-harness,
.arrival-container .fbCalendar--mini .fc .fc-daygrid-body-unbalanced .fc-daygrid-day-events,
.arrival-container .fbCalendar--mini .fc .fc-daygrid-day-events {
  width: 100%;
}

.arrival__cancelBtn {
  font-weight: bold;
  padding: 0 5px;
}

#scheduleMgmPopup__body #container {
  display: block;
  table-layout: auto;
  height: 100%;
}

#scheduleMgmPopup__body #document.ifr_popup #contents,
#scheduleMgmPopup__body .popup-document #ng-view {
  height: 100%;
}

/* 2020.12.30 스케쥴 관리 End */


/* 2021.01.05 클레임 신청  */
.claimMgmPopup .inputForm__section__header {
  margin-bottom: 5px;
}

.claimMgmPopup .datatable.v-type {
  margin: 0;
}

.claimMgmPopup .inputForm__section__title:before {
  display: inline;
  margin-right: 2px;
  content: "▶";
}

/* readonly input */
.claimMgmPopup .input--readonly {
  min-width: 100px;
  border: none;
  font-weight: normal;
  padding: 0;
  cursor: default;
}

.claimMgmPopup .unit {
  margin: 0 0 0 5px;
}

.claimMgmPopup .price-prefix {
  margin: 0 5px 0 0;
}

/*
.claimMgmPopup .price-prefix.shipping {
  font-weight: bold;
}
*/

.claimMgm__priceTag,
.claimMgm__leftPriceTag {
  display: inline-block;
}

.claimMgm__priceTag input {
  min-width: 100px !important;
  width: auto !important;
}

.claimMgm__priceTag.bold {
  font-weight: bold;
}

.claimMgm__leftPriceTag {
  margin: 0 0 0 10px;
}

.claimMgm__refundTotal {
  font-weight: bold;
  font-size: 15px;
}

.claimMgmPopup .form__phoneNum .comm-input {
  display: block;
  float: left !important;
  width: 30% !important;
}

.claimMgmPopup .comm-input.zipCode {
  width: 40% !important;
  margin-right: 5px;
}

.claimMgm__imageList::after {
  display: block;
  clear: both;
  content: "";
}

.claimMgm__imageList li {
  display: block;
  float: left;
  width: 80px;
  height: 80px;
}

.claimMgm__imageList li:not(:last-child) {
  margin: 0 10px 0 0;
}

.claimMgm__imageList a {
  display: block;
  width: 100%;
  height: 100%;
}

.claimMgm__imageList figure {
  width: 100%;
  height: 100%;
}

.claimMgm__imageList img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.claimMgmPopup .toggleSection,
.claimMgmPopup .toggleRow {
  /* display: none; */
}

.claimMgmPopup .claim-detail,
.claimMgmPopup .entrance-detail {
  display: none;
}

.claim__imageModal figure {
  display: block;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  border: 1px solid #999;
}

.claim__imageModal img {
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: auto;
  transform: translate(0, -50%);
}
/* 2021.01.05 클레임 신청 End */

.arrival-container .fb__event__title {
	font-size: inherit;
	font-weight: inherit;
}

/* 2021.02.19 주문자정보 탭 > 주문자정보 */
.orderBuyer_info {
	text-align : left;
}
.orderBuyer_info_result {
	padding-left: 20px;
	height : auto;
}

/* 상품/결제정보 탭 > 결제정보 */
.payment_info_result {
	text-align : center;
	padding: 15px;
}

.present_info_result {
	text-align : center;
	padding: 15px;
}

/* 정기배송신청내역 > 신청정보 영역 */
.regularDelivery .complex-condition .datatable.v-type th,
.regularDelivery .complex-condition .datatable.v-type td {text-align:center; word-break:break-all;}

/* 정기배송신청정보 > 수취정보변경팝업 */
.regularReqReceiverMgm .table-wrapper .complex-condition table thead tr th,
.regularReqReceiverMgm .table-wrapper .complex-condition table tbody tr td {text-align:center;}
.regularReqReceiverMgm .table-wrapper .complex-condition table tbody tr td.left {text-align:left;}
