/* 
  2020.12.07
  페이지 : 주문/배송관리 > 증빙문서
  작성자 : 김승우
*/

.pg .search-wrapper .input-wrapper {
  display: inline-block;
  width: calc(100% - 170px);
}

.pg .dateSearch {
  display: flex;
  flex-wrap: wrap;
}

.pg .dateSearch__list {
  flex-shrink: 0;
  margin-right: 10px;
}

.pg .dateSearch .datepicker-container.btn-style{
  display: flex;
  flex-shrink: 0;
}

/* 현금 영수증 발급 */
.cashReceiptIssuedPopup .wrap-location {
  margin-bottom: 10px;
}

.cashReceiptIssuedPopup .title__subTitle {
  font-size: 16px;
}

.cashReceiptIssuedPopup .payment {
  font-weight: bold;
}

.cashReceiptIssuedPopup .paymentPrice {
  margin-right: 5px;
}