<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true" />
        <setting name="jdbcTypeForNull" value="VARCHAR"/>
    </settings>

    <typeAliases>
        <!--Batch CJ Default Setting-->
    </typeAliases>

    <mappers>
        <mapper resource="mapper/claim/slaveCj/CjReturnTrackingNumber.xml"/>
        <!--Batch CJ Default Setting-->
    </mappers>
</configuration>